.service-container{
    border: 1px solid lightgray;
    border-radius: 8px;
}

.service-container img{
    width: 100%;
    border-radius: 8px;
}

.service-info{
    padding-left: 8px;
    padding-bottom: 8px;
}

.service-info h2{
    margin: 5px 0;
}

.service-info h3{
    margin: 10px 0;
}

.service-info button{
    padding: 5px 8px;
}